<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    Business systems analyst -Project Manager – Solution Architect specialized in Sales and Service scenarios, mainly Order-to-Cash using SAP Technology and CRM systems as the key element.

    <h3><i>Summary:</i></h3>

    <ul>
    	<li>Expert in assessing, defining and documenting client needs</li>
        <li>Ability to plan, track and follow-up projects through multiple phases</li>
        <li>Strong Analytical Problem - Solving skills</li>
        <li>Strong expertise in all phases of the implementation process</li>
        <li>Skilled defining UAT scenarios for project validation</li>
        <li>Experience in training (Customer end user and school)</li>
    </ul>

    <h3><i>Expertise</i></h3>

    <ul>
    	<li>Project Management</li>
    	<li>CRM and Mobile scenarios</li>
    	<li>Order to Cash scenarios</li>
    	<li>Programming skills (Python, Abap, Java)</li>
    	<li>Databases (PostgreSQL, MongoDB, MySQL)</li>
    </ul>

     <p>My Curriculum Vitae is also available as pdf <a href=https://www.dropbox.com/s/8ws1gip4sw2ly75/CV_JuanEstruch_2018.pdf?dl=0>here</a></p>
</div>